.header{
	height:80px;
	background-color:rgba(10,10,220,0.7);
}
.attend{
	text-align:center;
	color:white;
padding-top:18px;}
.st{
background-color:rgba(140,140,140,0.3);height:40px;
}
.m1{
color:black;
text-decoration:none;
}
.side_nav{
	background-color:rgba(10,10,10,0.7);
	height:490px;
	width:210px;
	display:none;
	cursor:pointer;
	}
ul{
list-style-type:none;}

.nav_menu{
padding-top:30px;
margin-left:-7px;

}
.nav{
	text-decoration:none;
	color:white;
	
}
.hom{
	background-image:url('image/collegestudents.jpg');
	height:538px;
width:100%;
background-size:cover;
position:relative;
}
.back-screen{
	height:290px;
	background-color:rgba(250,250,250,0.8);
	width:400px;
	margin-left:470px;
	position:absolute;
	margin-top:120px;
}
.lab{
	padding-left:45px;
}
.group{
padding-left:45px;

}
.back-screen_sec{
	height:240px;
	background-color:rgba(250,250,250,0.8);
	width:380px;
	margin-left:470px;
	position:absolute;
	margin-top:120px;
}
.back-screen_teach{
	height:465px;
	background-color:rgba(250,250,250,0.8);
	width:400px;
	margin-left:470px;
	position:absolute;
	margin-top:35px;
}
.back-screen_sem{
	height:290px;
	background-color:rgba(250,250,250,0.8);
	width:350px;
	margin-left:500px;
	position:absolute;
	margin-top:128px;
}
.group_sem{
	padding-left:30px;
}
.lab_sem{
	padding-left:30px;
}
.back-screen_sub{
	height:360px;
	background-color:rgba(250,250,250,0.8);
	width:360px;
	margin-left:500px;
	position:absolute;
	margin-top:85px;
}
.back-screen_stud{
	height:480px;
	background-color:rgba(250,250,250,0.8);
	width:400px;
	margin-left:470px;
	position:absolute;
	margin-top:30px;
}
.profile_screen{
	background-image:url('image/teacher.jpg');
	height:550px;
	width:100%;
	position:relative;
}
.profile_div{
	height:310px;
	width:340px;
	margin-left:490px;
	background-color:rgba(250,250,250,0.8);
	margin-top:90px;
	position:absolute;
}
.profile{
	height:37px;
	width:380px;
	border-bottom:2px solid black;
}
.back-screen_alot{
	height:480px;
	background-color:rgba(250,250,250,0.8);
	width:340px;
	margin-left:510px;
	position:absolute;
	margin-top:30px;
}
.hom_alot{
	background-image:url('image/collegestudents.jpg');
	height:540px;
width:100%;
background-size:cover;
position:relative;
}
.group-alot{
	padding-left:90px;
}
.lab-alot{
	padding-left:90px;
}
.side_click1{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click2{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click3{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click4{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click5{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click6{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;	
	z-index:1;
}
.side_click7{
	background-color:rgba(10,10,10,0.7);
	width:110px;
	height:auto;
	margin-left:137px;
	margin-top:-45px;
	display:none;
	position:absolute;
z-index:1;	
}
.side_click1 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;
}
.side1:hover .side_click1{
display:block;
}
.side1:hover .d1{
	background-color:transparent;
}
.side_click2 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side2:hover .side_click2{
display:block;
}
.side2:hover .t1{
	background-color:transparent;
}
.side_click3 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side3:hover .side_click3{
display:block;
}
.side3:hover .s1{
	background-color:transparent;
}
.side_click4 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side4:hover .side_click4{
display:block;
}
.side4:hover .s2{
	background-color:transparent;
}
.side_click5 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side5:hover .side_click5{
display:block;
}
.side5:hover .s3{
	background-color:transparent;
}
.side_click6 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side6:hover .side_click6{
display:block;
}
.side6:hover .s4{
	background-color:transparent;
}
.side_click7 a:hover{
	background-color:rgba(10,10,10,0.7);
color:white;}
.side7:hover .side_click7{
display:block;
}
.side7:hover .s5{
	background-color:transparent;
}
.upd{
	border:1px solid blue;
	text-decoration:none;
	color:white;
}
